.component-container {
  padding: 0 20px;
  display: block;
  padding: 20px;
  background-color: #f9f9f9;
}

.full-width, .mat-form-field, .mat-form-field-infix, table {
  width: 100%;
}

mat-chip-listbox {
  flex-wrap: wrap;
  padding: 10px;
}

mat-chip-option {
  margin: 5px;
  background-color: #d1c4e9;
  color: #99004f;
}

.table-container, .button-container, .input-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.table-container, .button-container {
  margin-top: 20px;
}

.table-container {
  align-items: center;
}

.input-container {
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  background-color: #ffffff;
  color: #000000;
  margin-top: 20px;
  padding: 10px;
}

table, th, td {
  border: 1px solid #dddddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

thead, th {
  background-color: #99004f !important;
  color: white !important;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e1bee7;
}

body {
  padding: 40px 20px;
}

.color-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  vertical-align: middle;
}

.missing-features-cell {
  max-width: 100px;
  word-wrap: break-word;
  white-space: normal;
}