<main class="main-container">
  <div class="description-box">
    <h1>Participant Follow-up / Drop-out</h1>
    <p>
      <br />The chart below illustrates the longitudinal follow-up of the cohort studies and thereby
      inherently the participant drop-out over time. We display the proportion of assessed
      participants per month in study relative to its number of participants at study baseline.
      Respectively, the inverse of this proportion denotes the drop-out.
    </p>
  </div>

  <!-- Loading Spinner -->
  @if (isLoading()) {
  <div class="loading-spinner">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  }

  <div class="input-container">
    <mat-form-field appearance="outline">
      <mat-label>Variable selection</mat-label>
      <input
        type="text"
        placeholder="Enter a variable"
        aria-label="Variable selection"
        matInput
        [formControl]="variableCtrl"
        [matAutocomplete]="autoLongitudinal"
      />
      <mat-autocomplete
        autoActivateFirstOption
        #autoLongitudinal="matAutocomplete"
        (optionSelected)="onVariableSelect($event)"
      >
        @for (option of filteredVariables(); track option) {
        <mat-option [value]="option">
          {{ option }}
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <!-- Button container for ranking cohorts -->
  <div class="button-container">
    <button class="button-style" (click)="generateLineplot()">
      Visualize participant follow-up
    </button>
  </div>

  <div class="output-box">
    <div id="lineplot"></div>
  </div>
</main>
