.header-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
}

.component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.longitudinal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 50 0;
}

.full-width, .mat-form-field, .mat-form-field-infix, table {
    width: 100%;
}

mat-chip-listbox {
    flex-wrap: wrap;
    padding: 10px;
}

mat-chip-option {
    margin: 5px;
    background-color: #d1c4e9;
    color: #4a148c;
}

.lineplot {
    display: flex;
}