/* General container styles */
.header-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
}

.component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Longitudinal container */
.longitudinal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

/* Full-width inputs and table */
.full-width, .mat-form-field, .mat-form-field-infix, table {
    width: 100%;
}

/* Chip listbox styling */
mat-chip-listbox {
    flex-wrap: wrap;
    padding: 10px;
}

mat-chip-option {
    margin: 5px;
    background-color: #d1c4e9;
    color: #4a148c;
}

/* Lineplot styling */
.lineplot {
    display: flex;
}

/* Responsive design adjustments */
@media (max-width: 1200px) {
    .longitudinal-container {
        width: 25%;
    }

    .button-container {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .longitudinal-container {
        width: 40%;
    }

    .button-container {
        width: 60%;
        padding: 30px 0;
    }

    .header-container {
        padding: 15px;
    }

    .component-container {
        padding: 15px;
    }
}

@media (max-width: 768px) {

    .longitudinal-container {
        width: 100%;
        margin-bottom: 15px;
    }

    .button-container {
        width: 100%;
        padding: 20px 0;
    }

    .header-container, .component-container {
        padding: 10px;
    }

    .lineplot {
        flex-direction: column;
    }
}

@media (max-width: 576px) {

    .longitudinal-container {
        width: 100%;
        margin-bottom: 10px;
    }

    .button-container {
        width: 100%;
        padding: 15px 0;
    }

    .header-container, .component-container {
        padding: 5px;
    }

    mat-chip-option {
        font-size: 12px;
        padding: 5px;
    }
}