version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    schedule:
      interval: "weekly"
    labels:
      - "ci/cd"
  - package-ecosystem: "uv"
    directory: "/backend"
    schedule:
      interval: "weekly"
    groups:
      all-dependencies:
        patterns:
          - "*"
    labels:
      - "chore"
      - "python:uv"
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    groups:
      all-dependencies:
        patterns:
          - "*"
    labels:
      - "chore"
      - "typescript"
  - package-ecosystem: "docker"
    directories:
      - "/backend"
      - "/frontend"
    schedule:
      interval: "weekly"
    labels:
      - "chore"
      - "docker"
