# Ignore node_modules as they wil be installed in the Docker container
node_modules
node_modules/*
dist
dist/*
build
build/*

# Ignore any logs and temporary files
*.log
*.tscache

# Ignore Angular CLI configuration cache
.angular
.angular/*

# Ignore the Dockerfile
Dockerfile