<head>
  <link
    rel="stylesheet"
    href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="../../../node_modules/bootstrap-icons/font/bootstrap-icons.css"
  />
</head>
<body>
  <div
    class="container container-fluid"
    style="margin-top: 150px; margin-bottom: 50px"
  >
    <h3 class="pb-2 mt-4 mb-2 text-center">Legal</h3>

    <div class="row">
      <div class="col">
        <!-- Imprint -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Imprint and Publishing Notes</h5>
            <div class="card-text">
              See the
              <a href="https://www.scai.fraunhofer.de/en/publishing-notes.html"
                >imprint and publishing notes</a
              >
              for this web application and other Fraunhofer SCAI web
              applications.
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <!-- Data Protection -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Data Protection</h5>
            <div class="card-text">
              See the General Data Protection Regulation (GDPR) compliance and
              <a href="https://www.scai.fraunhofer.de/en/data_protection.html"
                >data protection</a
              >
              information for this web application and other Fraunhofer SCAI web
              applications.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card" style="margin-top: 15px">
          <div class="card-body">
            <h5 class="card-title">Fraunhofer SCAI Terms and Conditions</h5>
            <div class="card-text">
              <p>
                By using any services of this web application, you accept our
                <a href="https://www.scaiview.com/en/terms-and-conditions.html"
                  >Terms and Conditions of Use</a
                >.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</body>
