version: "3.8"

services:
  frontend:
    image: ghcr.io/scai-bio/pdataviewer/frontend:latest
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    image: ghcr.io/scai-bio/pdataviewer/backend:latest
    ports:
      - "5000:80"

  cdm-postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpass
      POSTGRES_DB: testdb
      PGDATA: /var/lib/postgresql/18/docker/data/pgdata
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U testuser -d testdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/18/docker/data
