version: "3.8"

services:
  frontend:
    image: pdataviewer-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    image: pdataviewer-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      USER_NAME: admin
      PASSWORD: admin
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpass
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: testdb
    ports:
      - "5000:80"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpass
      POSTGRES_DB: testdb
      PGDATA: /var/lib/postgresql/18/docker/data/pgdata
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U testuser -d testdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/18/docker/data

volumes:
  postgres-data:
