<section class="section colored" id="contact-us">
  <div class="container">
    <h4 class="section-title">Contact Us</h4>
    <div class="row">
      <!-- Prof. Dr. Martin Hofmann-Apitius -->
      <div class="card-container">
        <div class="card">
          <div class="card-front">
            <div class="card-body">
              <img
                class="img-fluid"
                src="assets/contact/martin.jpg"
                alt="Prof. Dr. Martin Hofmann-Apitius"
              />
              <h5 class="card-title">Prof. Dr. Martin Hofmann-Apitius</h5>
              <p class="card-text">Head of the Bioinformatics Department</p>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <p>
                Martin is leading the Department of Bioinformatics at the
                Fraunhofer Institute for Algorithms and Scientific Computing
                (SCAI) in Sankt Augustin (Germany), a governmental
                not-for-profit, applied research institute. He is also Professor
                for Applied Life Science Informatics at Bonn-Aachen
                International Center for Information Technology (B-IT). He is
                (co-) author of more than 150 scientific publications.
              </p>
            </div>
            <div class="card-actions">
              <a href="https://x.com/apitiushofmann" target="_blank">
                <button class="icon-button">
                  <mat-icon svgIcon="x"></mat-icon>
                </button>
              </a>
              <a
                href="https://www.linkedin.com/in/hofmannapitius"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon svgIcon="linkedin"></mat-icon>
                </button>
              </a>
              <a
                href="https://scholar.google.de/citations?user=n2XWGsQAAAAJ&hl=en&oi=ao"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon svgIcon="google-scholar"></mat-icon>
                </button>
              </a>
              <a href="https://orcid.org/0000-0001-9012-6720" target="_blank">
                <button class="icon-button">
                  <mat-icon svgIcon="orcid"></mat-icon>
                </button>
              </a>
              <a
                href="mailto:martin.hofmann-apitius@scai.fraunhofer.de"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Mail to"
                    fontIcon="email"
                  ></mat-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Prof. Dr. Martin Hofmann-Apitius -->

      <!-- Dr. Marc Jacobs -->
      <div class="card-container">
        <div class="card">
          <div class="card-front">
            <div class="card-body">
              <img
                class="img-fluid"
                src="assets/contact/marc.jpg"
                alt="Dr. Marc Jacobs"
              />
              <h5 class="card-title">Dr. Marc Jacobs</h5>
              <p class="card-text">
                Group leader of Software and Scientific Computing, Deputy Head
                of Business Area Bioinformatics
              </p>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <p>
                Marc is leading the Software and Scientific Computing Team and
                also the Deputy Head of Business Area Bioinformatics at the
                Fraunhofer Institute for Algorithms and Scientific Computing
                (SCAI) in Sankt Augustin (Germany), a governmental
                not-for-profit, applied research institute.
              </p>
            </div>
            <div class="card-actions">
              <a
                href="https://www.linkedin.com/in/marc-jacobs-801938242/"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon svgIcon="linkedin"></mat-icon>
                </button>
              </a>
              <a href="https://github.com/MarcZimmermann" target="_blank">
                <button class="icon-button">
                  <mat-icon svgIcon="github"></mat-icon>
                </button>
              </a>
              <a href="mailto:marc.jacobs@scai.fraunhofer.de" target="_blank">
                <button class="icon-button">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Mail to"
                    fontIcon="email"
                  ></mat-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Dr. Marc Jacobs -->

      <!-- Yasamin Salimi -->
      <div class="card-container">
        <div class="card">
          <div class="card-front">
            <div class="card-body">
              <img
                class="img-fluid"
                src="assets/contact/yasamin.png"
                alt="Yasamin Salimi"
              />
              <h5 class="card-title">Yasamin Salimi</h5>
              <p class="card-text">PhD Candidate</p>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <p>
                Yasamin Salimi joined Fraunhofer SCAI as a student research
                assistant in August 2019. She successfully finished her Master's
                thesis on “Comparison of Alzheimer's Disease Progression
                Patterns Across Multiple Cohort Studies.” She started her PhD
                studies in November 2020 with a focus in evaluating the Data
                Landscape in Neurodegenerative Diseases.
              </p>
            </div>
            <div class="card-actions">
              <a href="https://x.com/SalimiYasamin" target="_blank">
                <button class="icon-button">
                  <mat-icon svgIcon="x"></mat-icon>
                </button>
              </a>
              <a
                href="https://www.linkedin.com/in/yasamin-salimi-27488662"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon svgIcon="linkedin"></mat-icon>
                </button>
              </a>
              <a
                href="https://scholar.google.com/citations?user=cSR6XQsAAAAJ"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon svgIcon="google-scholar"></mat-icon>
                </button>
              </a>
              <a href="https://orcid.org/0000-0002-7773-7786" target="_blank">
                <button class="icon-button">
                  <mat-icon svgIcon="orcid"></mat-icon>
                </button>
              </a>
              <a
                href="mailto:yasamin.salimi@scai.fraunhofer.de"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Mail to"
                    fontIcon="email"
                  ></mat-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Yasamin Salimi -->

      <!-- Tim Adams -->
      <div class="card-container">
        <div class="card">
          <div class="card-front">
            <div class="card-body">
              <img
                class="img-fluid"
                src="assets/contact/tim.jpg"
                alt="Tim Adams"
              />
              <h5 class="card-title">Tim Adams</h5>
              <p class="card-text">Scientific Software Developer</p>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <p>
                Tim Adams joined Fraunhofer SCAI in late 2017 as a researcher.
                His main research focus is the development of applications for
                exploration, evaluation and visualization of data in the
                biomedical domain.
              </p>
            </div>
            <div class="card-actions">
              <a href="https://orcid.org/0000-0002-2823-0102" target="_blank">
                <button class="icon-button">
                  <mat-icon svgIcon="orcid"></mat-icon>
                </button>
              </a>
              <a
                href="https://stackoverflow.com/users/6436977/t-a"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon svgIcon="stack-overflow"></mat-icon>
                </button>
              </a>
              <a href="https://github.com/tiadams" target="_blank">
                <button class="icon-button">
                  <mat-icon svgIcon="github"></mat-icon>
                </button>
              </a>
              <a href="mailto:tim.adams@scai.fraunhofer.de" target="_blank">
                <button class="icon-button">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Mail to"
                    fontIcon="email"
                  ></mat-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Tim Adams -->

      <!-- Mehmet Can Ay -->
      <div class="card-container">
        <div class="card">
          <div class="card-front">
            <div class="card-body">
              <img
                class="img-fluid"
                src="assets/contact/can.jpg"
                alt="Mehmet Can Ay"
              />
              <h5 class="card-title">Mehmet Can Ay</h5>
              <p class="card-text">Master's Student</p>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <p>
                Can joined Fraunhofer SCAI as a student research assistant in
                March 2023 and he is currently pursuing his Master's degree with
                a thesis named "PDataViewer: Investigation of Parkinson's
                Disease Landscape and Enabling Semantic Data Harmonization
                Through Large Language Models".
              </p>
            </div>
            <div class="card-actions">
              <a
                href="https://www.linkedin.com/in/mehmet-can-ay/"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon svgIcon="linkedin"></mat-icon>
                </button>
              </a>
              <a
                href="https://scholar.google.com/citations?user=1NMMi9AAAAAJ&hl=en&oi=ao"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon svgIcon="google-scholar"></mat-icon>
                </button>
              </a>
              <a href="https://orcid.org/0000-0002-2977-7695" target="_blank">
                <button class="icon-button">
                  <mat-icon svgIcon="orcid"></mat-icon>
                </button>
              </a>
              <a href="mailto:mehmet.ay@scai.fraunhofer.de" target="_blank">
                <button class="icon-button">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Mail to"
                    fontIcon="email"
                  ></mat-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Mehmet Can Ay -->

      <!-- Marjan Niazpoor -->
      <div class="card-container">
        <div class="card">
          <div class="card-front">
            <div class="card-body">
              <img
                class="img-fluid"
                src="assets/contact/marjan.jpg"
                alt="Marjan Niazpoor"
              />
              <h5 class="card-title">Marjan Niazpoor</h5>
              <p class="card-text">Student Research Assistant</p>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <p>
                Marjan joined Fraunhofer SCAI as a student research assistant in
                March 2024 and she is pursuing a Master's in Life Science
                Informatics at Bonn-Aachen International Center for Information
                Technology (b-it).
              </p>
            </div>
            <div class="card-actions">
              <a href="https://orcid.org/0009-0000-1455-6569" target="_blank">
                <button class="icon-button">
                  <mat-icon svgIcon="orcid"></mat-icon>
                </button>
              </a>
              <a
                href="mailto:marjan.niazpoor@scai-extern.fraunhofer.de"
                target="_blank"
              >
                <button class="icon-button">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Mail to"
                    fontIcon="email"
                  ></mat-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Marjan Niazpoor -->
    </div>
  </div>
</section>
