<body>
  <!-- ***** Welcome Area Start ***** -->
  <div class="welcome-area" id="welcome">
    <img src="assets/home/banner-bg.png" alt="Welcome Background" />
    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h1>
              PDataViewer <br />Exploring the Parkinson's Disease Data Landscape
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Header Text End ***** -->
  </div>
  <!-- ***** Welcome Area End ***** -->

  <mat-divider></mat-divider>

  <!-- ***** About Start ***** -->
  <section class="section home-feature padding-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="about-small-item">
            <h3 class="about-title">ABOUT</h3>
            <p>
              Data collected in cohort studies lay the groundwork for a plethora
              of Parkinson's disease (PD) research endeavors. PDataViewer lets
              you explore this PD data landscape and identify cohort datasets
              that suit your research needs.
            </p>
            <p>
              We accessed and curated major PD cohort datasets in a purely
              data-driven manner with the aim of 1) characterizing their
              underlying data, 2) assessing the quantity and availability of
              data, and 3) evaluating the interoperability across these distinct
              cohort datasets.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>
  <!-- ***** About End ***** -->

  <!-- ***** Content Start ***** -->
  <section class="counter padding-section">
    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col text-center">
            <div class="left-heading">
              <h2 class="section-title">Content</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 text-center">
            <div class="count-item">
              <strong>{{ cohortNumber }}</strong>
              <span>Cohorts</span>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="count-item">
              <strong>Over 1,000</strong>
              <span>Variables Mapped</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>
  <!-- ***** Content End ***** -->

  <!-- ***** Cohorts Start ***** -->
  <section class="padding-section" id="cohorts">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="left-heading">
            <h2 class="section-title">Cohorts</h2>
          </div>
          <div class="section-content">
            <img
              src="assets/home/comparison_cohorts.png"
              class="rounded img-fluid d-block float-left-img"
              alt="Cohort Comparison"
            />

            <div class="left-text">
              <p>
                Here you can find an overview on the investigated cohorts,
                references to the study design and links for data access
                application. Additionally, there are summary statistics on key
                Parkinson's disease biomarkers displayed.
              </p>
              <div class="text-center">
                <a routerLink="/cohorts" class="main-button">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>
  <!-- ***** Cohorts End ***** -->

  <!-- ***** Biomarker Start ***** -->
  <section id="biomarker" class="padding-section biomarker">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="left-heading">
            <h2 class="section-title">Biomarker Overview</h2>
          </div>
          <div class="section-content">
            <img
              src="assets/home/biomarkers.png"
              class="rounded img-fluid d-block float-left-img"
              alt="Heatmap Screenshot"
            />

            <div class="left-text">
              <p>Explore and compare variable distributions across cohorts.</p>
              <div class="text-center">
                <a routerLink="/biomarkers" class="main-button">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>
  <!-- ***** Biomarker End ***** -->

  <!-- ***** Study Picker Start ***** -->
  <section
    class="padding-section"
    id="study-picker"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="left-heading">
            <h2 class="section-title">StudyPicker</h2>
          </div>
          <div class="section-content">
            <img
              src="assets/home/StudyPicker.png"
              class="rounded img-fluid d-block float-left-img"
              alt="StudyPicker"
            />

            <div class="left-text">
              <p>
                The StudyPicker assists you in identifying suited PD data
                resources for your research plans. Rank cohorts based on their
                available variables and investigate further properties.
              </p>
              <div class="text-center">
                <a routerLink="/study-picker" class="main-button">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>
  <!-- ***** Study Picker End ***** -->

  <!-- ***** Ethnicity Start ***** -->
  <section class="padding-section ethnicity" id="ethnicity">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="left-heading">
            <h2 class="section-title">Ethnoracial Diversity</h2>
          </div>
          <div class="section-content">
            <img
              src="assets/home/StudyPicker.png"
              class="rounded img-fluid d-block float-left-img"
              alt="Ethnicity"
            />

            <div class="left-text">
              <p>
                The displayed chart visualizes the ethnoracial diversity across
                the investigated cohorts. Following the link, you can find
                individual charts per cohort illustrating their diversity.
              </p>
              <div class="text-center">
                <a routerLink="/study-picker" class="main-button">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>
  <!-- ***** Ethnicity End ***** -->

  <!-- ***** Mapping Start ***** -->
  <section
    class="padding-section"
    id="mappings"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="left-heading">
            <h2 class="section-title">Feature Mappings</h2>
          </div>
          <div class="section-content">
            <img
              src="assets/home/circle-viz.png"
              class="rounded img-fluid d-block float-left-img"
              alt="Feature Mapping"
            />

            <div class="left-text">
              <p>
                Following the link, you will find semantic mappings between
                variables of the investigated datasets. Equivalent features have
                been connected and highlight semantic interoperability.
              </p>
              <div class="text-center">
                <a routerLink="/mappings" class="main-button">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>
  <!-- ***** Mapping End ***** -->

  <!-- ***** Longitudinal Start ***** -->
  <section id="longitudinal" class="padding-section longitudinal">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="left-heading">
            <h2 class="section-title">Longitudinal Follow-up</h2>
          </div>
          <div class="section-content">
            <img
              src="assets/home/longitudinal.png"
              class="rounded img-fluid d-block float-left-img"
              alt="Longitudinal"
            />

            <div class="left-text">
              <p>
                This section lets you explore interactive visualizations of the
                longitudinal follow-up and participant drop-out encountered in
                the included studies. Additionally, you can visualize the
                longitudinal coverage of individual variables per study.
              </p>
              <div class="text-center">
                <a routerLink="/longitudinal" class="main-button">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>
  <!-- ***** Longitudinal End ***** -->

  <!-- ***** Tools Start ***** -->
  <section id="tools" class="padding-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="left-heading">
            <h2 class="section-title">Tools</h2>
          </div>
          <div class="section-content">
            <img
              src="assets/home/circle-viz.png"
              class="rounded img-fluid d-block float-left-img"
              alt="Tools"
            />

            <div class="left-text">
              <p>
                Following the link, you will find tools that enables automatic
                semantic variable harmonization between cohorts of interest.
              </p>
              <div class="text-center">
                <a routerLink="/tools" class="main-button">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>
  <!-- ***** Tools End ***** -->

  <!-- ***** Citation Start ***** -->
  <section id="citation" class="padding-section citation-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="left-heading text-center">
            <h2 class="section-title">How to Cite Us</h2>
          </div>
          <div class="left-text text-center">
            <strong>
              Yasamin Salimi, Tim Adams, Mehmet Can Ay et al. On the Utility of
              Large Language Model Embeddings for Revolutionizing Semantic Data
              Harmonization in Alzheimer's and Parkinson's Disease, 01 April
              2024, PREPRINT (Version 1) available at Research Square [<a
                href="https://doi.org/10.21203/rs.3.rs-4108029/v1"
                >https://doi.org/10.21203/rs.3.rs-4108029/v1</a
              >]
            </strong>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>
  <!-- ***** Citation End ***** -->
</body>
