/* Welcome Area */
.welcome-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.mat-divider {
    border-style: hidden;
}

.banner {
    max-height: 100vh;
    width: 100%;
}

.welcome-area .header-text {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    width: 100%;
}

.welcome-area .header-text h1 {
    font-size: 2vw;
    color: #fff;
}

/* About */
.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-small-item {
    display: block;
    background: #fff;
    box-shadow: 0 2px 48px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 1%;
    text-align: center;
    transition: 0.3s ease;
    width: 50%;
    margin: 0 auto;
}

.about-small-item .about-title {
    font-size: 1.2vw;
    color: #1e1e1e;
    margin-bottom: 15px;
}

.about-small-item p {
    font-size: 1vw;
    color: #777;
    margin-bottom: 20px;
}

/* Counter */
.counter {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: url('../../assets/home/background-applications.png') center center / cover no-repeat;
    height: 30vh;
}

.counter .content {
    width: 100%;
}

.counter .content .count-item {
    height: auto;
    display: flex;
    flex-direction: column;
}

.counter .content .count-item strong {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 2vw;
    margin: 10px 0;
    color: #fff;
    transition: 0.3s ease;
}

.counter .content .count-item span {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 1vw;
}

/* Images */
.img {
    max-width: 25%;
    max-height: 25%;
    width: auto;
    height: auto;
}

.left-img {
    margin-right: 20px;
}

.right-img {
    margin-left: 20px;
}

/* Background for Biomarker, Longitudinal, and Ethnicity Sections */
.biomarker,
.longitudinal,
.ethnicity {
    background: url('../../assets/home/background-applications.png') center center / cover no-repeat;
}

.biomarker p,
.longitudinal p,
.ethnicity p,
.content h2,
.biomarker h2,
.longitudinal h2,
.ethnicity h2 {
    color: #fff;
}

.citation-section {
    padding: 0 25%;
}

/* Ensure Flexbox for Images and Text */
.section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25%;
    padding-left: 25%;
}

.section-content img {
    margin-right: 20px;
}

.section-content .text {
    font-size: 1vw;
}

.section-content .text-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

a.button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
}

a.button:hover {
    background-color: #0056b3;
}