/* Welcome Area */
.welcome-area {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.welcome-area .header-text {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    width: 100%;
}

.welcome-area .header-text h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;
}

.welcome-area .header-text p {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .welcome-area .header-text {
        top: 65%;
        transform: translateY(-60%);
    }

    .welcome-area .header-text h1,
    .welcome-area .header-text p {
        margin-bottom: 15px;
    }

    .content-header {
        flex-direction: column;
    }
}

@media (max-width: 820px) {
    .welcome-area .header-text h1 {
        font-size: 22px;
        line-height: 30px;
    }

    .welcome-area .header-text p {
        margin-bottom: 20px;
    }
}

@media (max-width: 765px) {
    .welcome-area {
        margin-bottom: 100px;
    }

    .welcome-area .header-text h1 {
        font-weight: 600;
        font-size: 24px;
    }

    .welcome-area .header-text p {
        font-size: 14px;
        line-height: 22px;
    }
}

/* About */
.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-small-item {
    display: block;
    background: #fff;
    box-shadow: 0 2px 48px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    transition: 0.3s ease;
    width: 50%;
    margin: 0 auto;
}

.about-small-item .about-title {
    font-size: 24px;
    color: #1e1e1e;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
}

.about-small-item p {
    font-weight: 400;
    font-size: 16px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-bottom: 20px;
}

/* Counter */
.counter {
    overflow: hidden;
    position: relative;
}

.counter:before {
    content: '';
    position: absolute;
    width: 140%;
    height: 120%;
    opacity: 0.9;
    background: url('../../assets/home/background-stats.png') center center / cover no-repeat;
    z-index: 2;
    top: -20%;
    left: -20%;
}

.counter .content {
    position: relative;
    z-index: 3;
    width: 100%;
}

.counter .content .count-item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.counter .content .count-item strong {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin: 10px 0;
    color: #fff;
    transition: 0.3s ease;
}

.counter .content .count-item span {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}

@media (max-width: 991px) {
    .counter .content .count-item {
        padding: 20px 0;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.d-block {
    display: block;
}

/* Custom Styles for Floating Images and Wrapping Text */
.float-left-img {
    float: left;
    margin-right: 20px;
    display: block;
    max-width: 300px;
    max-height: 230px;
    width: auto;
    height: auto;
}

/* Padding for Sections */
.padding-section {
    padding: 70px 0;
}

/* Background for Biomarker, Longitudinal, and Ethnicity Sections */
.biomarker,
.longitudinal,
.ethnicity {
    background: url('../../assets/home/background-applications.png') center center / cover no-repeat;
}

.biomarker p,
.longitudinal p,
.ethnicity p,
.content h2,
.biomarker h2,
.longitudinal h2,
.ethnicity h2 {
    color: #fff;
}

.citation-section {
    padding-left: 400px;
    padding-right: 400px;
}

.citation-section .left-text {
    margin: 0 auto;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
}

/* New Styles for Centering Sections */
.padding-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-heading, .left-text {
    text-align: center;
}

/* Ensure Flexbox for Images and Text */
.section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 400px;
    padding-left: 400px;
}

.section-content img {
    margin-right: 20px;
}

.section-content .left-text {
    text-align: left;
}

.section-content .text-center {
    width: 100%;
    display: flex;
    justify-content: center;
}