<main class="main-container">
  <!-- About Container -->
  <div class="section-container about">
    <div class="section-inner-container">
      <h1>About</h1>
      <p>
        Data collected in cohort studies lay the groundwork for a plethora of
        Parkinson's disease (PD) research endeavors. PDataViewer lets you
        explore this PD data landscape and identify cohort datasets that suit
        your research needs.
      </p>
      <p>
        We accessed and curated major PD cohort datasets in a purely data-driven
        manner with the aim of characterizing their underlying data, assessing
        the quantity and availability of data, and evaluating the
        interoperability across these distinct cohort datasets.
      </p>
      <h2>How to Cite Us</h2>
      <strong>
        Yasamin Salimi, Tim Adams, Mehmet Can Ay et al. On the Utility of Large
        Language Model Embeddings for Revolutionizing Semantic Data
        Harmonization in Alzheimer's and Parkinson's Disease, 01 April 2024,
        PREPRINT (Version 1) available at Research Square [<a
          href="https://doi.org/10.21203/rs.3.rs-4108029/v1"
          >https://doi.org/10.21203/rs.3.rs-4108029/v1</a
        >]</strong
      >
    </div>
  </div>

  <!-- Loading Spinner -->
  @if (loading) {
  <div class="loading-spinner">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  }

  <!-- Counter Container -->
  <div class="section-container counter-container colored-bg">
    <div class="section-inner-container">
      <div class="counter-title">
        <h2>Content</h2>
      </div>
      <div class="counter-content">
        <div class="statistics-container">
          <strong>{{ cohortCount | number }}</strong>
          <span> Cohorts </span>
        </div>

        <div class="image-between">
          <img src="home/circle-dec.png" alt="Statistics Illustration" />
        </div>

        <div class="statistics-container">
          <strong>{{ participantCount | number }}</strong>
          <span>Participants</span>
        </div>

        <div class="image-between">
          <img src="home/circle-dec.png" alt="Statistics Illustration" />
        </div>

        <div class="statistics-container">
          <strong>{{ variableCount | number }}</strong>
          <span>Variables Mapped</span>
        </div>

        <div class="image-between">
          <img src="home/circle-dec.png" alt="Statistics Illustration" />
        </div>

        <div class="statistics-container">
          <strong>{{ modalityCount | number }}</strong>
          <span>Compared Modalities</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Cohort Container -->
  <div class="section-container">
    <div class="section-inner-container">
      <div class="content-container">
        <div class="title-description-button">
          <div class="title-container">
            <h2>Cohorts</h2>
          </div>
          <div class="description-container">
            <p>
              Here you can find an overview on the investigated cohorts,
              references to the study design and links for data access
              application. Additionally, there are summary statistics on key
              Parkinson's disease biomarkers displayed.
            </p>
          </div>
          <div class="button-container">
            <button class="button-style" [routerLink]="'/cohorts'">
              Explore
            </button>
          </div>
        </div>
        <div class="image-container">
          <img src="home/cohorts.png" class="image" alt="Cohort Comparison" />
        </div>
      </div>
    </div>
  </div>

  <!-- Biomarker Container -->
  <div class="section-container colored-bg">
    <div class="section-inner-container">
      <div class="content-container">
        <div class="image-container">
          <img
            src="home/biomarkers.png"
            class="image"
            alt="Heatmap Screenshot"
          />
        </div>
        <div class="title-description-button">
          <div class="title-container">
            <h2>Biomarker Overview</h2>
          </div>
          <div class="description-container">
            <p>Explore and compare variable distributions across cohorts.</p>
          </div>
          <div class="button-container">
            <button class="inverted-button-style" [routerLink]="'/biomarkers'">
              Explore
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Study Picker Container -->
  <div class="section-container">
    <div class="section-inner-container">
      <div class="content-container">
        <div class="title-description-button">
          <div class="title-container">
            <h2>Study Picker</h2>
          </div>
          <div class="description-container">
            <p>
              The StudyPicker assists you in identifying suited PD data
              resources for your research plans. Rank cohorts based on their
              available variables and investigate further properties.
            </p>
          </div>
          <div class="button-container">
            <button class="button-style" [routerLink]="'/cohorts'">
              Explore
            </button>
          </div>
        </div>
        <div class="image-container">
          <img src="home/study-picker.png" class="image" alt="Study Picker" />
        </div>
      </div>
    </div>
  </div>

  <!-- Longitudinal Container -->
  <div class="section-container colored-bg">
    <div class="section-inner-container">
      <div class="content-container">
        <div class="image-container">
          <img src="home/longitudinal.png" class="image" alt="Longitudinal" />
        </div>
        <div class="title-description-button">
          <div class="title-container">
            <h2>Longitudinal Follow-up</h2>
          </div>
          <div class="description-container">
            <p>
              This section lets you explore interactive visualizations of the
              longitudinal follow-up and participant drop-out encountered in the
              included studies. Additionally, you can visualize the longitudinal
              coverage of individual variables per study.
            </p>
          </div>
          <div class="button-container">
            <button class="inverted-button-style" [routerLink]="'/biomarkers'">
              Explore
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mapping Container -->
  <div class="section-container">
    <div class="section-inner-container">
      <div class="content-container">
        <div class="title-description-button">
          <div class="title-container">
            <h2>Variable Mappings</h2>
          </div>
          <div class="description-container">
            <p>
              Following the link, you will find semantic mappings between
              variables of the investigated datasets. Equivalent variables have
              been connected and highlight semantic interoperability.
            </p>
          </div>
          <div class="button-container">
            <button class="button-style" [routerLink]="'/mappings'">
              Explore
            </button>
          </div>
        </div>
        <div class="image-container">
          <img src="home/mappings.svg" class="image" alt="Variable Mapping" />
        </div>
      </div>
    </div>
  </div>
</main>
