POSTGRES_USER="testuser"
POSTGRES_PASSWORD="testpass"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="testdb"

KEYCLOAK_URL='http://localhost:8080'
KEYCLOAK_REALM='myrealm'
KEYCLOAK_CLIENT_ID='pdataviewer-api'

ALLOWED_ORIGINS=["http://localhost:4200"]