/*Common Style CSS*/
/* ---------------------------------------------
Main Style for Pages
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. footer
/*
---------------------------------------------
font & reset css
---------------------------------------------
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");

/*
---------------------------------------------
reset
---------------------------------------------
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
    display: block;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

/*
---------------------------------------------
global styles
---------------------------------------------
*/
html,
body {
    background: #fff;
    font-family: "Raleway", sans-serif;
}

::selection {
    background: #1cacd7;
    color: #fff;
}

::-moz-selection {
    background: #1cacd7;
    color: #fff;
}

.section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
}

.section.colored {
    background: #f2f2fe;
}

.hr {
    bottom: 0px;
    width: 100%;
    height: 1px;
    margin-top: 100px;
    border-bottom: 1px solid #eee;
}

.left-heading.light .section-title {
    color: #ffffff;
}

.left-heading .section-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
    position: relative;
}

.center-heading {
    text-align: center;
}

.center-heading .section-title {
    font-weight: 500;
    font-size: 28px;
    color: #1e1e1e;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}

.center-heading.colored .section-title {
    color: #ffffff;
}

.center-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #777;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.center-text.colored {
    color: #fff;
}

.center-text p {
    font-size: 15px;
    color: #777;
    margin-bottom: 30px;
}

.left-text {
    font-weight: 400;
    font-size: 16px;
    color: #777;
    line-height: 28px;
    letter-spacing: 1px;
}

.left-text.light {
    color: #fff;
}

.left-text p {
    margin-bottom: 30px;
}

.left-text p.dark {
    color: #3B566E;
}

.padding-bottom-top-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.padding-bottom-80 {
    padding-bottom: 80px !important;
}

.padding-bottom-100 {
    padding-bottom: 100px !important;
}

.border-bottom {
    border-bottom: 1px solid #eee !important;
}

.mbottom-30 {
    margin-bottom: 30px !important;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.align-self-bottom {
    -ms-flex-item-align: flex-end !important;
    align-self: flex-end !important;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-80 {
    padding-top: 80px !important;
}

.padding-top-70 {
    padding-top: 70px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-45 {
    margin-bottom: 45px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px !important;
}

@media (max-width: 991px) {
    html, body {
        overflow-x: hidden;
    }

    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .mobile-bottom-fix {
        margin-bottom: 30px;
    }

    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}

a.main-button {
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #1cacd7;
    text-transform: uppercase;
    color: #fff !important;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a.main-button:hover {
    background-color: #5fb9e9;
    color: #fff;
}

button.main-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #1cacd7;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

button.main-button:hover {
    background-color: #5fb9e9;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #1cacd7;
    border-color: #5fb9e9;
    box-shadow: none;
    outline: none;
    color: #fff !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #1cacd7;
    border-color: #1cacd7;
}

/*
---------------------------------------------
footer
---------------------------------------------
*/
footer {
    background-image: linear-gradient(127deg, #0081bf 0%, #003268 91%);
    padding-top: 30px;
    font-family: "Raleway", sans-serif !important;
    font-size: 16px !important;
}

#footer a {
    color: white !important;
}

footer .copyright {
    text-align: center;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.88px;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    footer .text {
        margin-bottom: 30px;
    }

    footer h5 {
        margin-bottom: 15px;
    }

    footer .footer-nav {
        margin-bottom: 30px;
    }
}

.breadcrumb {
    background: #0081bf !important;
}