.header-area {
    margin-top: 50px;
    height: 100px;
    min-height: 80px;
    transition: all 0.3s ease;
}

.header-area .main-nav {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    min-height: 80px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-area .main-nav .img-fluid {
    margin-right: auto;
}

.header-area .main-nav .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-area .main-nav .nav li {
    padding: 0 20px;
    display: flex;
}

.header-area .main-nav .nav li a {
    display: block;
    font-size: 1vw;
    color: #1e1e1e;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.header-area .main-nav .nav li a:hover {
    color: #0081bf;
}

.img-fluid {
    max-height: 60px;
    height: auto;
    vertical-align: middle;
    padding-left: 20px;
}

a.disable {
    pointer-events: none;
    cursor: default;
    color: red !important;
}