.header-area {
    margin-top: 50px;
    height: 100px;
    min-height: 80px;
    transition: all 0.3s ease;
}

.header-area .main-nav {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    min-height: 80px;
    background: #fff;
}

.header-area .main-nav .logo,
.header-area .main-nav .logo img,
.header-area .main-nav .nav,
.header-area .main-nav .nav li a {
    transition: all 0.3s ease;
}

.header-area .main-nav .logo {
    float: left;
    margin-left: 30px;
}

.header-area .main-nav .nav {
    float: right;
    margin: 20px 30px 0 0;
    position: relative;
    z-index: 999;
}

.header-area .main-nav .nav li {
    padding: 0 20px;
}

.header-area .main-nav .nav li:last-child {
    padding-right: 0;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #1e1e1e;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.header-area .main-nav .nav li a:hover,
.header-area .main-nav .nav li a.active {
    color: #0081bf;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    z-index: 99;
    right: 40px;
    display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    transition: all 0.4s;
    background-color: #3B566E;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    content: "";
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    width: 75%;
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #3B566E;
}

.header-area .main-nav .menu-trigger.active span:after {
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #3B566E;
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding: 0 12px;
    }
}

@media (max-width: 991px) {
    .header-area {
        padding: 0 15px;
        height: 80px;
        box-shadow: none;
        text-align: center;
    }

    .header-area .container {
        padding: 0;
    }

    .header-area .menu-trigger {
        display: block !important;
    }

    .header-area .main-nav {
        overflow: hidden;
    }

    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        margin-top: 80px;
        display: none;
        transition: all 0s;
    }

    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }

    .header-area .main-nav .nav li {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        padding: 0;
    }

    .header-area .main-nav .nav li a {
        height: 50px;
        line-height: 50px;
        padding: 0;
        border: none;
        background: #fff;
        color: #3B566E;
    }

    .header-area .main-nav .nav li a:hover {
        background: #eee;
    }
}

@media (min-width: 992px) {
    .header-area .main-nav .nav {
        display: flex;
    }
}

#pdataviewer-logo {
    max-height: 57px;
    vertical-align: middle;
    margin-top: 12px;
}

a.disable {
    pointer-events: none;
    cursor: default;
    color: red !important;
}