<header class="banner">
  <div class="logo-box">
    <a [routerLink]="['/']">
      <img class="logo" src="logos/logo_white.svg" alt="Website Logo" />
    </a>
  </div>
  <div class="site-title-box">
    <h1 class="site-title">PDataViewer</h1>
  </div>
  <div class="routing-menu-box">
    <button [routerLink]="'/cohorts'" class="button-style">Cohorts</button>
    <button [routerLink]="'/biomarkers'" class="button-style">Biomarkers</button>
    <button [routerLink]="'/study-picker'" class="button-style">Study Picker</button>
    <button [routerLink]="'/mappings'" class="button-style">Mappings</button>
    <button [routerLink]="'/longitudinal'" class="button-style">Longitudinal</button>
    <button [routerLink]="'/contact-us'" class="button-style">Contact Us</button>
  </div>
  <div class="github-logo-box">
    <a href="https://github.com/SCAI-BIO/PDataViewer" target="_blank">
      <img src="social-media/github-mark-white.svg" alt="GitHub" class="github-logo" />
    </a>
  </div>
</header>
