<header class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <!-- Router Link to home page with logo -->
          <a [routerLink]="['/']">
            <img
              class="img-fluid"
              src="assets/logos/logo.png"
              id="pdataviewer-logo"
              alt="pdataviewer-logo"
            />
          </a>
          <!-- ***** Logo End ***** -->

          <!-- ***** Menu Start ***** -->
          <!-- Navigation Menu -->
          <ul class="nav">
            <!-- Router links to different sections of the application -->
            <li>
              <a routerLink="/cohorts" class="button fancy-button">Cohorts</a>
            </li>
            <li>
              <a routerLink="/biomarkers" class="button fancy-button"
                >Biomarkers</a
              >
            </li>
            <li>
              <a routerLink="/study-picker" class="button fancy-button"
                >StudyPicker</a
              >
            </li>
            <li>
              <a routerLink="/ethnicity" class="button fancy-button disable"
                >Ethnicity</a
              >
            </li>
            <li>
              <a routerLink="/mappings" class="button fancy-button">Mappings</a>
            </li>
            <li>
              <a routerLink="/longitudinal" class="button fancy-button"
                >Longitudinal</a
              >
            </li>
            <li
              class="tools-menu"
              (mouseenter)="openToolsMenu()"
              (mouseleave)="closeToolsMenu()"
            >
              <a class="button fancy-button">Tools</a>
              <div class="dropdown-menu" [class.show]="isToolsMenuOpen">
                <a routerLink="/auto-harmonizer" class="dropdown-item">Auto-Harmonizer</a>
                <a routerLink="/tsne" class="dropdown-item">tSNE</a>
              </div>
            </li>
            <li>
              <a routerLink="/contact-us" class="button fancy-button"
                >Contact Us</a
              >
            </li>
          </ul>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
