<header class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <!-- Router Link to home page with logo -->
          <a class="logo" [routerLink]="['/']">
            <img
              class="img-fluid"
              src="assets/logos/logo.png"
              id="pdataviewer-logo"
              alt="pdataviewer-logo"
            />
          </a>
          <!-- ***** Logo End ***** -->

          <!-- ***** Menu Start ***** -->
          <!-- Navigation Menu -->
          <ul class="nav">
            <!-- Router links to different sections of the application -->
            <li>
              <a routerLink="/cohorts" class="button fancy-button disable"
                >Cohorts</a
              >
            </li>
            <li>
              <a routerLink="/biomarkers" class="button fancy-button disable"
                >Biomarkers</a
              >
            </li>
            <li>
              <a routerLink="/study-picker" class="button fancy-button"
                >StudyPicker</a
              >
            </li>
            <li>
              <a routerLink="/ethnicity" class="button fancy-button disable"
                >Ethnicity</a
              >
            </li>
            <li>
              <a routerLink="/mappings" class="button fancy-button">Mappings</a>
            </li>
            <li>
              <a routerLink="/longitudinal" class="button fancy-button disable"
                >Longitudinal</a
              >
            </li>
            <li>
              <a routerLink="/tools" class="button fancy-button disable"
                >Tools</a
              >
            </li>
            <li>
              <a routerLink="/contact-us" class="button fancy-button"
                >Contact Us</a
              >
            </li>
          </ul>

          <!-- Menu trigger for mobile view -->
          <a class="menu-trigger" aria-label="Open Menu">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
