.header-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
}

.component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.biomarker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.cohort-selection-container, .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 10px 0;
}

.cohort-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cohort-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.cohort-list p {
    margin: 0 10px;
}

.color-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 2px;
}

.full-width, .mat-form-field {
    width: 100%;
}

mat-chip-listbox {
    flex-wrap: wrap;
    padding: 10px;
}

mat-chip-option {
    margin: 5px;
    background-color: #d1c4e9;
    color: #4a148c;
}