<div class="header-container">
  <h1>Biomarkers</h1>
  <p>
    <br />
    Enter your variable of interest and select the cohorts to be compared
    against each other.
  </p>
  <div class="component-container">
    <div class="biomarker-container">
      <mat-form-field class="full-width">
        <mat-chip-listbox [multiple]="false" aria-label="Biomarker selection">
          <mat-chip-option
            *ngIf="selectedBiomarker"
            [removable]="true"
            [selectable]="false"
            (removed)="removeBiomarker()"
          >
            {{ selectedBiomarker }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-option>
          <input
            matInput
            placeholder="Enter a biomarker"
            [matAutocomplete]="autoBiomarker"
            [formControl]="biomarkerCtrl"
          />
        </mat-chip-listbox>
        <mat-autocomplete
          #autoBiomarker="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="biomarkerSelected($event)"
        >
          <mat-option
            *ngFor="let option of filteredBiomarkers | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="cohort-container" *ngIf="selectedBiomarker">
      <h4>Available Cohorts for {{ selectedBiomarker }}:</h4>
      <br />
      <div class="cohort-list" *ngFor="let cohort of cohorts">
        <p>
          <span
            class="color-circle"
            [style.background-color]="colors[cohort]"
          ></span
          >{{ cohort }}
        </p>
      </div>
    </div>

    <div class="cohort-selection-container" *ngIf="selectedBiomarker">
      <mat-form-field class="full-width">
        <mat-chip-listbox aria-label="Cohort selection">
          <mat-chip-option
            *ngFor="let cohort of selectedCohorts"
            [removable]="true"
            [selectable]="false"
            (removed)="removeCohort(cohort)"
          >
            {{ cohort }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-option>
          <input
            matInput
            placeholder="Select at least one cohort"
            [matAutocomplete]="autoCohort"
            [formControl]="cohortCtrl"
            (matChipInputTokenEnd)="addCohort($any($event))"
          />
        </mat-chip-listbox>
        <mat-autocomplete
          #autoCohort="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="cohortSelected($event)"
        >
          <mat-option
            *ngFor="let option of filteredDiagnoses | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- Button container for ranking cohorts -->
    <div class="button-container" *ngIf="selectedCohorts.length > 0">
      <button mat-raised-button color="primary" (click)="generateBoxplot()">
        Visualize feature distribution
      </button>
    </div>

    <div #boxplot></div>
  </div>
</div>
