/* Header Container */
.header-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Main Component Container */
.component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Biomarker Container */
.biomarker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

/* Cohort and Button Containers */
.cohort-selection-container, .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 10px 0;
}

/* Cohort Container */
.cohort-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Cohort List */
.cohort-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.cohort-list p {
    margin: 0 10px;
}

/* Color Circle */
.color-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 2px;
}

/* Full Width and Form Field */
.full-width, .mat-form-field {
    width: 100%;
}

/* Chip Listbox */
mat-chip-listbox {
    flex-wrap: wrap;
    padding: 10px;
}

mat-chip-option {
    margin: 5px;
    background-color: #d1c4e9;
    color: #4a148c;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .biomarker-container {
        width: 30%;
    }

    .cohort-selection-container, .button-container {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .header-container, .component-container {
        padding: 15px;
    }

    .biomarker-container,
    .cohort-selection-container,
    .button-container {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .header-container, .component-container {
        padding: 10px;
    }

    .biomarker-container,
    .cohort-selection-container,
    .button-container {
        width: 80%;
    }

    .cohort-list p {
        margin: 5px;
    }

    mat-chip-listbox {
        padding: 5px;
    }
}

@media (max-width: 576px) {

    .header-container,
    .component-container {
        padding: 8px;
        margin: 10px;
    }

    .biomarker-container,
    .cohort-selection-container,
    .button-container {
        width: 100%;
    }

    .cohort-list p {
        margin: 3px;
    }

    .color-circle {
        width: 10px;
        height: 10px;
    }

    mat-chip-option {
        font-size: 12px;
    }
}