// longitudinal.component.scss
@use 'tokens' as *;

:host {
  display: block;
}

.input-container {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;
}

.visualize-button {
  mat-icon {
    margin-right: $spacing-xs;
  }
}
