/* Reset and Global Styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

::selection,
::-moz-selection {
    background: #1cacd7;
    color: #fff;
}

.section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
}

.section.colored {
    background: #f9f9f9;
}

.section-title {
    color: #1e1e1e;
    margin-bottom: 30px;
    position: relative;
    font-size: 1.4vw;
    text-align: center;
}

.center-text, .center-text p,
.text, .text p {
    text-align: center;
    font-size: 1vw;
    color: #777;
    margin-bottom: 30px;
}

/* Styles for buttons */
button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
}
  
button:hover {
background-color: #0056b3;
}

.container {
    min-height: 100%;
    position: relative;
}

.nav-bar {
    padding: 0 20%;
    width: 100%
}

.body {
    padding-bottom: 436px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}