<header class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-12-lg col-12-md col-12-sm col-12-xs">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a class="logo" [routerLink]="['/']">
            <img
              class="img-fluid"
              src="assets/logos/logo.png"
              id="pdataviewer-logo"
              alt="pdataviewer-logo"
            />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a pageScroll href="#cohorts" class="scroll-link">Cohorts</a></li>
            <li><a pageScroll href="#biomarkers" class="scroll-link">Biomarkers</a></li>
            <li><a pageScroll href="#study-picker" class="scroll-link">StudyPicker</a></li>
            <li><a pageScroll href="#ethnicity" class="scroll-link">Ethnicity</a></li>
            <li><a pageScroll href="#mappings" class="scroll-link">Mappings</a></li>
            <li><a pageScroll href="#longitudinal" class="scroll-link">Longitudinal</a></li>
            <li><a pageScroll href="#tools" class="scroll-link">Tools</a></li>
            <li><a pageScroll href="#contact-us" class="scroll-link">Contact Us</a></li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
