.component-container {
  margin: 20px;
  display: block;
  padding: 20px;
  background-color: #f9f9f9;
}

.table-container {
  overflow: auto;
  max-height: 600px;
  max-width: 100%;
  margin-top: 20px;
}

.color-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.cohort-name {
  font-weight: bold;
}

/* Add vertical lines between table columns */
.mat-table th,
.mat-table td {
  border-right: 1px solid #e0e0e0;
}

.mat-table th:last-child,
.mat-table td:last-child {
  border-right: none;
}