.footer {
  background: linear-gradient(135deg, #5c003e, #8e2b5a);
  color: white;
  display: block;
  align-items: center;
  align-content: center;
  padding: 30px 0;
}

.main-headers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 25px;
  text-align: center;
}

.copyright-container {
  padding: 0 30px;
}

.copyright {
  text-align: center;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.88px;
  padding-top: 10px;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  color: white !important;
}
