<footer class="footer">
  <div class="main-headers">
    <div class="legal-content">
      <h4><a>PDataViewer</a></h4>
      <mat-nav-list>
        <a
          mat-list-item
          href="https://www.scai.fraunhofer.de/en/data_protection.html"
          target="_blank"
          >Data Protection</a
        >
        <a
          mat-list-item
          href="https://www.scai.fraunhofer.de/en/publishing-notes.html"
          target="_blank"
          >Publishing Notes</a
        >
      </mat-nav-list>
    </div>
    <div class="contact-us">
      <h4><a>Other</a></h4>
      <mat-nav-list>
        <a mat-list-item routerLink="/contact-us">Contact Us</a>
      </mat-nav-list>
    </div>
  </div>
  <div class="copyright-container">
    <p class="copyright">Copyright &copy; 2024. Fraunhofer SCAI</p>
  </div>
</footer>
