<footer>
  <div class="container" id="footer">
    <div class="row main-headers">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="frame default frame-type-menu_subpages frame-layout-0">
          <h4><a>PDataViewer</a></h4>
          <mat-nav-list>
            <a mat-list-item routerLink="/imprint">Imprint</a>
            <a
              mat-list-item
              href="https://www.scai.fraunhofer.de/en/data_protection.html"
              >Data Protection</a
            >
            <a
              mat-list-item
              href="https://www.scai.fraunhofer.de/en/publishing-notes.html"
              >Publishing Notes</a
            >
          </mat-nav-list>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div
          class="frame default frame-type-menu_subpages frame-layout-0 mb-3"
          id="c239"
        >
          <h4><a>Landscape</a></h4>
          <mat-nav-list>
            <a mat-list-item>Cohorts</a>
            <a mat-list-item>Biomarkers</a>
            <a mat-list-item routerLink="/study-picker">StudyPicker</a>
            <a mat-list-item>Ethnicity</a>
            <a mat-list-item routerLink="/mappings">Mappings</a>
            <a mat-list-item>Longitudinal</a>
          </mat-nav-list>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div
          class="frame default frame-type-menu_subpages frame-layout-0"
          id="c782"
        >
          <h4><a>Tools</a></h4>
          <mat-nav-list>
            <a mat-list-item>Auto-Harmonizer</a>
          </mat-nav-list>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div
          class="frame default frame-type-menu_subpages frame-layout-0"
          id="c782"
        >
          <h4><a>Other</a></h4>
          <mat-nav-list>
            <a mat-list-item routerLink="/contact-us">Contact Us</a>
          </mat-nav-list>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="copyright">Copyright &copy; 2024. Fraunhofer SCAI</p>
      </div>
    </div>
  </div>
</footer>
