<footer>
  <div class="container" id="footer">
    <div class="row">
      <div class="col-12">
        <ol
          class="breadcrumb"
          itemscope
          itemtype="http://schema.org/BreadcrumbList"
        >
          <!-- Home Breadcrumb Item -->
          <li
            class="breadcrumb-item sub first"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            <a
              class="sub first"
              routerLink="/home"
              itemprop="item"
              itemtype="https://schema.org/Article"
            >
              <i class="fa fa-home"></i>
              <span itemprop="name" class="sr-only">Home</span>
            </a>
            <meta itemprop="position" content="1" />
          </li>
          <!-- Site Map Breadcrumb Item -->
          <li
            class="breadcrumb-item active"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            <a
              class="active"
              href="#"
              itemprop="item"
              itemtype="https://schema.org/Article"
            >
              <span itemprop="name">Site map</span>
            </a>
            <meta itemprop="position" content="2" />
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <!-- First Column: PDataViewer Links -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="frame default frame-type-menu_subpages frame-layout-0">
          <h4><a>PDataViewer</a></h4>
          <ul class="nav flex-column">
            <!-- About Link -->
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/about">About</a>
            </li>
            <!-- Imprint Link -->
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/imprint">Imprint</a>
            </li>
            <!-- Data Protection Link -->
            <li class="nav-item">
              <a
                class="nav-link scroll-link"
                href="https://www.scai.fraunhofer.de/en/data_protection.html"
                >Data Protection</a
              >
            </li>
            <!-- Publishing Notes Link -->
            <li class="nav-item">
              <a
                href="https://www.scai.fraunhofer.de/en/publishing-notes.html"
                class="nav-link scroll-link"
                >Publishing Notes</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- Second Column: Landscape Links -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div
          class="frame default frame-type-menu_subpages frame-layout-0 mb-3"
          id="c239"
        >
          <h4><a>Landscape</a></h4>
          <ul class="nav flex-column">
            <!-- Cohorts Link -->
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/cohorts">Cohorts</a>
            </li>
            <!-- Biomarkers Link -->
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/biomarkers"
                >Biomarkers</a
              >
            </li>
            <!-- StudyPicker Link -->
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/study-picker"
                >StudyPicker</a
              >
            </li>
            <!-- Ethnicity Link -->
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/ethnicity"
                >Ethnicity</a
              >
            </li>
            <!-- Mappings Link -->
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/mappings"
                >Mappings</a
              >
            </li>
            <!-- Longitudinal Link -->
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/longitudinal"
                >Longitudinal</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- Third Column: Tools -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div
          class="frame default frame-type-menu_subpages frame-layout-0"
          id="c782"
        >
          <h4><a>Tools</a></h4>
          <ul class="nav flex-column">
            <!-- Auto-Harmonizer Link -->
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/tools"
                >Auto-Harmonizer</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- Fourth Column: Other Links -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div
          class="frame default frame-type-menu_subpages frame-layout-0"
          id="c782"
        >
          <h4><a>Other</a></h4>
          <ul class="nav flex-column">
            <!-- Contact Us Link -->
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/contact-us"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="copyright">Copyright &copy; 2024. Fraunhofer SCAI</p>
      </div>
    </div>
  </div>
</footer>
