name: Release Run

on:
  release:
    types: [published]

jobs:
  build_docker_image:
    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest

    steps:
      - name: downcase REPO
        id: lowercase
        run: echo "REPO=${GITHUB_REPOSITORY,,}" >> "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@v6

      - name: Get Version Tag
        id: version
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> "$GITHUB_OUTPUT"

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Update API Version
        working-directory: backend
        run: |
          sed -i "s/version=\"[^\"]*\"/version=\"${{ steps.version.outputs.VERSION }}\"/" api/main.py
          uv version "${{ steps.version.outputs.VERSION }}"

      - name: Update Angular App Version
        run: npm --no-git-tag-version version from-git
        working-directory: frontend

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile.prod
          push: true
          tags: |
            ghcr.io/${{ steps.lowercase.outputs.REPO }}/frontend:latest
            ghcr.io/${{ steps.lowercase.outputs.REPO }}/frontend:${{ steps.version.outputs.VERSION }}

      - name: Build & push backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ steps.lowercase.outputs.REPO }}/backend:latest
            ghcr.io/${{ steps.lowercase.outputs.REPO }}/backend:${{ steps.version.outputs.VERSION }}
